

<div class="banner mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80);">
  <div class="container">
    <h1><strong><%= @cocktail.name %></strong></h1>
    <%= link_to "Add a new Dose to this Cocktail", new_cocktail_dose_path(@cocktail, @dose), class: "btn btn-primary"%>
    <%= link_to "Back to All Cocktails", cocktails_path, class: "btn btn-primary"%>
  </div>
</div>

<div class="container mt-4">
<h1>Doses</h1>
<ul class="p-0 mt-3">
<% @cocktail.doses.each do |dose| %>
<div class="card-trip mb-3">
  <div class="card-trip-infos">
    <div>
      <p>Amount: <strong><%= dose.description %></strong> | Ingredient: <strong><%= Ingredient.find(dose.ingredient_id).name %></strong></p>
    </div>
  </div>
</div>
<% end %>
</ul>
</div>